<!--**********************************
            Nav header start
***********************************-->
<nav class="content-nav">
  <button class="nav-icon" (click)="toggleSidebar()">
    <i class='bx bx-menu'></i>
  </button>
  
  <form class="search-form">
    <div class="search-box">
      <ng-icon 
        name="heroMagnifyingGlass" 
        size="20"
        class="search-icon"
      ></ng-icon>
      <input 
        type="search" 
        class="form-control" 
        placeholder="Search..."
        [(ngModel)]="searchQuery"
        name="search"
      >
    </div>
  </form>
  
  <div class="nav-actions">
    <button class="nav-icon" (click)="toggleTheme()">
      <ng-icon 
        [name]="isDarkTheme() ? 'heroMoon' : 'heroSun'"
        size="24"
      ></ng-icon>
    </button>
    
    <div class="notification-wrapper">
      <button class="nav-icon" (click)="toggleNotifications()">
        <ng-icon name="heroBell" size="24"></ng-icon>
        @if (notificationCount() > 0) {
          <span class="notification-badge">
            {{ notificationCount() }}
          </span>
        }
      </button>
    </div>
    
    <!-- <button class="nav-icon" (click)="toggleVerticalMenu()">
      <ng-icon name="heroEllipsisVertical" size="24"></ng-icon>
    </button>
    
    <button class="nav-icon" (click)="toggleHorizontalMenu()">
      <ng-icon name="heroEllipsisHorizontal" size="24"></ng-icon>
    </button> -->
    
    <div class="profile-img" (click)="toggleProfile()">
      <img [src]="profileImage()" [alt]="userName()">
    </div>
  </div>
</nav>


<!-- Notification Dropdown-->
<div class="dropdown" *ngIf="dropdownVisible">
  <div class="notification-item" *ngFor="let notification of notifications">
    
    <div class="notification-text">
      <p>{{ notification.title }}</p>
      <p>{{ notification.description }}</p>
    </div>
    <span [ngClass]="{'success': notification.status === 'Success', 'failed': notification.status === 'Failed'}">
      {{ notification.status }}
    </span>
  </div>
</div>

<div class="dropdownForUser" *ngIf="dropdownVisibleForUser">
  <div class="notification-itemForUser" *ngFor="let user of notificationsForUser">
    <div class="notification-textForUser">
      <p>{{ user.title }}</p>
      <p>{{ user.description }}</p>
    </div>
    <span [ngClass]="{'success': user.status === 'Success', 'failed': user.status === 'Failed'}">
      {{ user.status }}
    </span>
  </div>
</div>
<!--**********************************
    Header end 
***********************************-->